@page "/os/editar/{id:int}"
@attribute [Authorize(Roles = "Administrador,Mecanico")]
@using Garagem75.Shared.Dtos
@using Garagem76.Client.Services
@using Microsoft.AspNetCore.Authorization

@inject OrdemServicoApi Api
@inject NavigationManager Nav

@inject PecaApi PecasApi

<h3>OS #@model?.IdOrdemServico</h3>

@if (model == null)
{
    <p>Carregando...</p>
}
else
{
    <p>Status: <strong>@model.Status</strong></p>

    <p>Total: <span class="preco">R$ @model.ValorTotal</span></p>

    <hr />

    <h4>Adicionar Peça</h4>

    <select @bind="pecaSelecionada">
        @foreach (var p in pecas)
        {
            <option value="@p.IdPeca">@p.Nome</option>
        }
    </select>

    <input type="number" @bind="qtd" />

    <button class="btn btn-primary" @onclick="AddPeca">Adicionar</button>

    <hr />

    <h4>Peças</h4>

    @foreach (var item in model.Pecas)
    {
        <div class="card-app">
            <strong>@item.NomePeca</strong>
            <p>Qtd: @item.Quantidade</p>

            <button class="btn btn-danger"
                    @onclick="() => Remover(item.PecaId)">
                Remover
            </button>
        </div>
    }

    <button class="btn btn-success mt-3" @onclick="Finalizar">
        Finalizar OS
    </button>
    @* ADICIONE ESTE BOTÃO AQUI *@
    <button class="btn btn-primary mt-3" @onclick="SalvarAlteracoes">
        Salvar Alterações
    </button>
    
    <button class="btn btn-secondary mt-3" @onclick="Voltar">
        Voltar
    </button>
}

@code {
    [Parameter] public int id { get; set; }

    OrdemServicoDto? model;
    List<PecaDto> pecas = new();

    int pecaSelecionada;
    int qtd = 1;

    protected override async Task OnInitializedAsync()
    {
        model = await Api.GetById(id);
        pecas = await PecasApi.GetAll();
    }

    async Task AddPeca()
    {
        await Api.AddPeca(id, pecaSelecionada, qtd);
        qtd = 1; // Reseta a quantidade
        model = await Api.GetById(id);
    }

    async Task Remover(int pecaId)
    {
        await Api.RemovePeca(id, pecaId);
        model = await Api.GetById(id);
    }
    async Task SalvarAlteracoes()
    {
        if (model != null)
        {
            // Envia o objeto inteiro para o Update da API (aquela lógica que arrumamos)
            await Api.Update(id, model);
            
            // Opcional: Navega de volta para a lista ou exibe um alerta
            Nav.NavigateTo("/os/");
        }
    }

    void Voltar()
    {
        Nav.NavigateTo("/os/");
    }
    async Task Finalizar()
    {
        await Api.Finalizar(id);
        model = await Api.GetById(id);
    }
}