@page "/os"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrador,Mecanico")]
@inject OrdemServicoApi Api
@inject NavigationManager Nav

<h3>Ordens de Serviço</h3>

<button class="fab" @onclick="Novo">+</button>

@if (loading)
{
    <p>Carregando...</p>
}
else if (items.Count == 0)
{
    <p>Nenhuma OS encontrada</p>
}
else
{
    <div class="os-grid">
        @foreach (var os in items)
        {
            <div class="os-card" @onclick="() => Abrir(os.IdOrdemServico)">
                
                <div class="os-header">
                    <strong>#@os.IdOrdemServico</strong>
                    <span class="status @os.Status?.ToLower()">@os.Status</span>
                </div>

                <div class="os-body">
                    <p><b>Cliente:</b> @os.NomeCliente</p>
                    <p><b>Veículo:</b> @os.VeiculoModelo</p>
                    <p><b>Descrição:</b> @os.Descricao</p>
                    <p><b>Data:</b> @os.DataServico.ToString("dd/MM/yyyy")</p>
                </div>

                <div class="os-footer">
                    <span>Total:</span>
                    <strong>R$ @CalcularTotal(os)</strong>
                </div>

            </div>
        }
    </div>
}

@code {
    List<OrdemServicoDto> items = new();
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        items = await Api.GetAll();
        loading = false;
    }
    void Novo() => Nav.NavigateTo("/os/nova");

    void Abrir(int id)
    {
        Nav.NavigateTo($"/os/{id}");
    }

    decimal CalcularTotal(OrdemServicoDto os)
    {
        var totalPecas = os.Pecas.Sum(p => p.PrecoUnitario * p.Quantidade);
        return os.MaoDeObra + totalPecas - os.ValorDesconto;
    }
}