@page "/os/{id:int}"
@attribute [Authorize(Roles = "Administrador,Mecanico")]
@using Garagem75.Shared.Dtos
@using Microsoft.AspNetCore.Authorization
<h3>OS #@model?.IdOrdemServico</h3>

@if (model == null)
{
    <p>Carregando...</p>
}
else
{
    <div class="card-detalhe">

        <p><strong>Status:</strong> @model.Status</p>
        <p><strong>Cliente:</strong> @model.NomeCliente</p>
        <p><strong>Veículo:</strong> @model.VeiculoModelo</p>

        <p><strong>Serviço:</strong></p>
        <p>@model.Descricao</p>

        <p><strong>Mão de obra:</strong> R$ @model.MaoDeObra</p>
        <p><strong>Desconto:</strong> R$ @model.ValorDesconto</p>
        <hr />
        <h5>Peças Utilizadas:</h5>
        <ul>
            @foreach (var p in model.Pecas)
            {
                <li>@p.NomePeca - @p.Quantidade x @p.PrecoUnitario.ToString("C2")</li>
            }
        </ul>
        <p>
            <strong>Total:</strong>
            <span class="preco">R$ @model.ValorTotal.ToString("C2")</span>
        </p>

        <button class="btn btn-primary mt-3"
                @onclick="IrParaEdicao">
            ✏️ Editar OS
        </button>

    </div>
}

@code {
    [Parameter] public int id { get; set; }

    OrdemServicoDto? model;

    [Inject] OrdemServicoApi Api { get; set; }
    [Inject] NavigationManager Nav { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            model = await Api.GetById(id);

            if (model == null)
            {
                Console.WriteLine("OS não encontrada");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Erro ao carregar OS: " + ex.Message);
        }
    }

    void IrParaEdicao()
    {
        Nav.NavigateTo($"/os/editar/{id}");
    }
}