@page "/pecas/{id:int}"
@attribute [Authorize(Roles = "Administrador,Mecanico")]
@using Garagem75.Shared.Dtos
@using Garagem76.Client.Services
@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JS
@inject PecaApi Api
@inject NavigationManager Nav

@if (peca == null)
{
    <p>Carregando...</p>
}
else
{
    <div class="card p-3">

        <img src="@(string.IsNullOrEmpty(peca.Imagem) ? "img/sem-imagem.png" : peca.Imagem)" class="img-full" />

        <h4>@peca.Nome</h4>
        <p><strong>Marca:</strong> @peca.Marca</p>
        <p><strong>Fornecedor:</strong> @peca.Fornecedor</p>

        <p><strong>Preço:</strong> R$ @peca.Preco</p>

        <p>
            <strong>Estoque:</strong>
            <span class="badge @(peca.QuantidadeEstoque < 5 ? "bg-danger" : "bg-success")">
                @peca.QuantidadeEstoque
            </span>
        </p>
        <div class=" acoes">
            <button class="btn btn-primary mt-3" @onclick="Editar">Editar</button>
            <button class="btn btn-danger mt-3" @onclick="Excluir">Excluir</button>
        </div>
    </div>
}

@code {
    [Parameter] public int id { get; set; }

    PecaDto? peca;

    protected override async Task OnInitializedAsync()
    {
        peca = await Api.GetById(id);
    }

    void Editar()
    {
        Nav.NavigateTo($"/pecas/editar/{id}");
    }

    async Task Excluir()
    {
        var confirm = await JS.InvokeAsync<bool>("confirm", "Deseja excluir esta peça?");

        if (!confirm)
            return;

        await Api.Delete(id);
        Nav.NavigateTo("/pecas");
    }
}